<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PLN Predecir Palabras</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="">
  <link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Averia+Libre:300,300i,400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400,400i" rel="stylesheet">
</head>
<body>
  <app-root></app-root>
</body>
</html>
